<a href="https://colab.research.google.com/github/bavel4885/python_test/blob/main/lesson_05_Pandas_1_Series%2C_generate%2C_index%2C_select.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas
    - 데이터 분석을 위한 python 라이브러리
    - R보다 Pandas의 학습, 성능, 활용분야 등이 좋음

    - Series와 DataFrame
        - Series : index와 value로 이루어짐
        - DataFrame : index, column, value로 이루어짐

### Series

In [1]:
import numpy as np
import pandas as pd

##### Series 선언

In [3]:
test =pd.Series(np.random.randint(10, size=5))
test

0    9
1    6
2    5
3    8
4    7
dtype: int64

In [4]:
test2 = pd.Series({'Reinforcement learning': 'game AI',
 'Supervised learning': 'classification',
 'Unsupervised learning': 'clustering'})
test2

Reinforcement learning           game AI
Supervised learning       classification
Unsupervised learning         clustering
dtype: object

##### index(행) 이름 설정

In [6]:
test =pd.Series(np.random.randint(10, size=5), index=list('ABCDE'))
test

A    9
B    9
C    0
D    8
E    0
dtype: int64

In [7]:
test.index, test.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([9, 9, 0, 8, 0]))

a    10
b    10
c    10
d    10
e    10
dtype: int64

##### Series 데이터 선택

In [8]:
test['A']

9

In [9]:
test.E

0

##### Series Indexing

In [11]:
test[2:]

C    0
D    8
E    0
dtype: int64

In [13]:
test[::-1]

E    0
D    8
C    0
B    9
A    9
dtype: int64

### DataFrame
    - 여러개의 Series로 구성

##### 생성

###### dict안에 list로 value 생성

In [14]:
data = {
    "name":['Minhyeok', 'Seojun','Juyoung'],
    "class":['python', 'RNN','practice']    
       }
data

{'class': ['python', 'RNN', 'practice'],
 'name': ['Minhyeok', 'Seojun', 'Juyoung']}

In [16]:
df =pd.DataFrame(data)
df# key값이 column

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

##### index 추가

In [17]:
df =pd.DataFrame(data, index=["a","b","c"])
df# key값이 column

       name     class
a  Minhyeok    python
b    Seojun       RNN
c   Juyoung  practice

In [18]:
df.index

Index(['a', 'b', 'c'], dtype='object')

In [20]:
df.values

array([['Minhyeok', 'python'],
       ['Seojun', 'RNN'],
       ['Juyoung', 'practice']], dtype=object)

##### index 변경

In [23]:
df.index = ["1번", "2번", "3번"]
df

        name     class
1번  Minhyeok    python
2번    Seojun       RNN
3번   Juyoung  practice

#### DataFrame data선택
    - row, column 선택 방법

##### row 선택

In [25]:
df = pd.DataFrame(data)
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice

In [28]:
df.loc[2]

name      Juyoung
class    practice
Name: 2, dtype: object

###### row 선택 후 특정 컬럼 선택

In [29]:
df.loc[0]["class"]

'python'

###### loc로 dataframe에 데이터 추가

In [31]:
df.loc[3] = {"name":"Adrian", "class":"math"}
df

       name     class
0  Minhyeok    python
1    Seojun       RNN
2   Juyoung  practice
3    Adrian      math

##### column 선택

In [32]:
df['name']

0    Minhyeok
1      Seojun
2     Juyoung
3      Adrian
Name: name, dtype: object

###### DataFrame에서 column 리스트 확인

In [33]:
list(df.columns)# list 형변환은 보기 편하게 만들기 위해서

['name', 'class']

###### column 추가

In [35]:
df['age'] = [30, 15, 25, 40]
df

       name     class  age
0  Minhyeok    python   30
1    Seojun       RNN   15
2   Juyoung  practice   25
3    Adrian      math   40

In [36]:
df.dtypes

name     object
class    object
age       int64
dtype: object

##### row, column 선택

In [41]:
df.loc[2,'age']

25

In [42]:
df.iloc[0,2]

30

##### dataframe 조건으로 선택

In [43]:
df[df['age']>25]

       name   class  age
0  Minhyeok  python   30
3    Adrian    math   40